<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stops</title>
    <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" >
    <style>
    </style>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>유형</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stop : ${stops}">
            <td th:text="${stop.id}">1</td>
            <td th:text="${stop.type.name()}">버스</td>
            <td th:text="${stop.name}">정선공영버스정류장</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>